@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;

  font-family: sans-serif;
  color: #cadbf5;

  background: #478aef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Varela Round", sans-serif;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
}

.info h2 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  text-align: center;
}

.wins-losses {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 16px;
  line-height: 1;
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.wins,
.losses {
  display: flex;
  align-items: center;
}

.wins .number,
.losses .number {
  margin-right: 5px;

  font-size: 52px;
}

.wins {
  margin-right: 30px;
}

.wins .number {
  color: #5dc674;
}

.losses .number {
  color: #da516f;
}

.choices {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  color: #5f99f0;
}

.choices > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vs {
  width: 100px;

  font-size: 100px;

  transform: rotate(-0.1turn);
  opacity: 0.25;

  pointer-events: none;
}

.choices button {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;

  font-size: 50px;

  background: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  transition: 0.1s ease all;
}

.choices button:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: scale(1.07);
}

.choices .rock {
  background: #f7941a;
}

.choices .rock path {
  fill: #815116;
}

.choices .paper {
  background: #8dc351;
}

.choices .paper path {
  fill: #3f5e1b;
}

.choices .scissors {
  background: #7c79ea;
}

.choices .scissors path {
  fill: #2f2c8f;
}

.choices .computer-choice {
  color: #bbb;

  background: #333;
}

.choices .computer-choice path {
  fill: #bbb;
}

.game-state {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  font-size: 24px;
  line-height: 1.3;
  font-family: "Varela Round", sans-serif;

  background: rgba(0, 0, 0, 0.5);
}

.game-state.win > div {
  color: rgb(226, 243, 206);

  background: rgb(141, 195, 81);
}
.game-state.win svg path {
  fill: rgb(226, 243, 206);
}

.game-state.draw > div {
  color: rgb(88, 88, 88);

  background: rgb(0, 0, 0);
}
.game-state.draw svg path {
  fill: rgb(88, 88, 88);
}

.game-state.lose > div {
  color: rgb(240, 169, 184);

  background: rgb(218, 81, 111);
}
.game-state.lose svg path {
  fill: rgb(240, 169, 184);
}

.game-state > div {
  z-index: 1;

  width: 60%;
  padding: 0 40px;

  font-size: 60px;
  text-align: center;
  color: #fff;

  border-radius: 10px;
}

.game-state-content {
  display: flex;
  justify-content: center;
}

.game-state-content p {
  display: flex;
  align-items: center;
  margin: 40px 15px 30px 0;
}

.game-state-content svg {
  width: 100px;
}

.game-state button {
  display: block;
  flex-shrink: 1;
  width: 100%;
  margin-bottom: -5%;
  padding: 25px;

  font-size: 30px;
  color: #fdedfd;

  background: #fa65ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
