@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

body {
  font-family: "Hind", Arial, Helvetica, sans-serif;

  background: #e8eaf1;
}

.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

textarea {
  padding: 20px;

  font-size: 22px;

  background: #eff1f5;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.preview {
  padding-right: 20px;
  padding-left: 20px;
}

blockquote {
  margin: 0;
  padding: 20px 30px;

  font-size: 30px;

  background: #efefef;
  border-left: 12px solid rgb(44, 163, 241);
  border-radius: 5px;
}
